# Data Science Tools and Ecosystem

In this notebook, Data science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages used in data science
- Popular libraries used in data science
- Environments used as tools for data science
- Expression of simplest arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. python
2. julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. numpy
3. pandas

| Data Science Tools |
|------------------- |
|JupyerLab|
|VS code|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Lucas Romanazzi